{% extends 'main.html'%}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'about.css' %}">{% endblock %}
{% block content %}

    <div class="dummy-nav"></div>
    <section class="header-text-container">
        <h1><span style="color: #ee3252ff;">\\\</span> Meet The Masterminds <span style="color: #ee3252ff;">\\\</span></h1>
    </section>
    <section class="profile-container">
        <img src="../static/images/Shaven.JPG" alt="">
        <div>
            <h2><span style="color: #ee3252ff;">{ %</span> Shaven Wickramanayake <span style="color: #ee3252ff;">% }</span></h2>
            <hr>
            <small>Backend wizard. Has no idea what he is doing. Lives of Google and ChatGPT. Not smart and not modest. Goes to Thurstan College and enjoys Basketball and Programming in his spare time, which is never.</small>
            
        </div>
    </section>
    <section class="profile-container">
        
        <div>
            <h2><span style="color: #ee3252ff;"><</span>Inuka Thantrige<span style="color: #ee3252ff;">/></span></h2>
            <hr>
            <small>The kind of person who reads books for fun. Overly smart and overly modest. Front end guy who gets inspiration from apple. Is very white. Goes to Ananda College and does 5 a levels</small>
        </div>
        <img src="../static/images/Inuka.JPG" alt="">
    </section>
    <section class="profile-container">
        <img src="../static/images/Lahiru.jpg" alt="">
        <div>
            <h2><span style="color: #ee3252ff;">&copy;$</span>Lahiru Lankeshwara<span style="color: #ee3252ff;">$&copy;</span></h2>
            <hr>
            <small>Smokes that calculus. Tries marketing a app before it's finished. Overly smart and overly un-modest about it. Does differentiation equations as a hobby ¯\_(ツ)_/¯. Bean shaped face, blade shaped hair. Royal Family</small>
        </div>
    </section>
    <section class="profile-container">
        
        <div>
            <h2><span style="color: #ee3252ff;">&#128396;</span>Ayan Withanapathirana<span style="color: #ee3252ff;">&#128396;</span></h2>
            <hr>
            <small>Showed up out of nowhere. Goes to Ananda College.Wears glasses and looks good in them (⌐■_■). One of the few people who do Biology. Co-created the front end. Sort of person to find out a undiscovered species and not tell the world about it</small>
        </div>
        <img src="../static/images/Ayan.JPG" alt="">
    </section>

{% endblock %}