{% extends 'main.html'%}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'generate.css' %}">{% endblock %}
{% block content %}

    <div class="dummy-nav"></div>
    <section>
        <form method="post" enctype="multipart/form-data" action="/cookie/">
            {% csrf_token %}
            <div class="text-input" style="text-align: center;">
                <h2>We Require A Cookie 🍪</h2>
                <p>Our service runs on Google Bard, mainly because don't have the funds to access ChatGPT-3. So in order for our app to work we need your bard account's __Secure-1PSID cookie. As the name suggest's this value will only be stored on your computer and wont be visible to anyone else.</p>
                <br>
                <p>{{ message }}</p>
                <input style="color: black;" type="text" name="cookie" required>
                <div>
                    <video width="800vw" autoplay controls>
                            <source src="../static/images/IntroVideo.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                    </video>
                </div>
                
            </div>
            <input class="button-40"type="submit" value="Enter">
        </form>
    </section>

{% endblock %}